---
const { post } = Astro.props;
import { Icon } from "astro-icon/components";
import { generateTOC } from "../utils/generateTOC";
import { getCollection } from "astro:content";

// load and sort your docs
const docs = await getCollection("wiki");
docs.sort((a, b) => a.data.weight - b.data.weight);
const publishedDocs = docs
  .filter((doc) => !doc.data.draft)
  .filter((doc) => !doc.data.hidden)
  .filter((doc) => !doc.slug.includes("__"))
  .map((doc) => ({
    params: {
      title: doc.data.title,
      slug: doc.slug,
    },
  }));

// 1) declare in outer scope
let prevPost = null;
let nextPost = null;

// 2) assign inside your conditional
if (post) {
  const currentIndex = publishedDocs.findIndex(
    (doc) => doc.params.slug === post.slug
  );
  prevPost = publishedDocs[currentIndex - 1] || null;
  nextPost = publishedDocs[currentIndex + 1] || null;
}

const content = generateTOC(publishedDocs);
---

<div class="drawer lg:drawer-open">
  <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <slot />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8 mx-4 md:px-5 md:mr-68">
      {prevPost && (
        <a
          href={`/${prevPost.params.slug}`}
          class="flex shadow-lg hover:bg-base-200 justify-center items-center text-xl bg-base-100 border-2 border-base-300 py-2 px-5 rounded-lg font-bold font-[Minecraft_Five]"
        >
          <Icon name="lucide:arrow-left" class="mr-3"/>
          {prevPost.params.title}
        </a>
      )}

      {nextPost && (
        <a
          href={`/${nextPost.params.slug}`}
          class="flex shadow-lg hover:bg-base-200  justify-center items-center text-xl bg-base-100 border-2 border-base-300 py-2 px-5 rounded-lg font-bold font-[Minecraft_Five]"
        >
          {nextPost.params.title}
          <Icon name="lucide:arrow-right" class="ml-3"/>
        </a>
      )}
    </div>
  </div>

  <div class="drawer-side pt-11" id="navigation">
    <label for="nav-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul
      class="menu lg:menu-sm bg-base-100 border-r-2 border-base-300 text-base-content min-h-full w-78 md:w-64 p-4 pb-20 overflow-y-auto"
      set:html={content}
    ></ul>
  </div>
</div>